nav {
  list-style-type: none;
  width: 100%;
  background-color:#ffc8dd;
  position: fixed;
  top: 0;
  left: 0; 
}

li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 30px 80px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
}

li a:hover {
  background-color: white;
  color: black;
}
h1 {
  color: #001d3d;
  font-style: italic;
  text-shadow: 2px 2px #62b6cb;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
body {
  background-color: #c8b6ff;
}
   img:hover {
      border-radius: 50%;
     width: 50%;
  }
